<div class="sign-in">
  <%= form_tag '/signin', method: 'post' do %>
    <div>
    <%= label_tag :email, 'email' %>
    <%= text_field_tag :email, params[:email] %><br><br>
    <%= label_tag :password, 'password' %>
    <%= password_field_tag :password, params[:password_hash] %><br><br>
    <%= submit_tag "Login" %>
  <%end%>
</div>

<br><br>

<div class="member">Not a member? <a href="/users/new">Sign Up!</a></div>
